.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background: red;
    color: white;
}
.main h1{
    font-size: 55px;
}